<!-- Footer -->
<footer id="footer" class="mt-auto">
  <div class="container">
    <div class="social-links">
      <!-- <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> -->
      <a
        href="https://www.facebook.com/4gatosphotovideo"
        target="blank"
        class="facebook"
        ><fa-icon [icon]="faFacebook"></fa-icon></a>
      <a
        href="https://www.instagram.com/4gatosphotovideo"
        target="blank"
        class="instagram"
        ><fa-icon [icon]="faInstagram" ></fa-icon></a>
      <a
        href="https://www.youtube.com/channel/UCmmjHmAGFIcIFHVytTardPA"
        target="blank"
        class="youtube"
        ><fa-icon [icon]="faYoutube"></fa-icon></a>

    </div>
    <div class="text-center mt-3">
      © Copyright <strong>4Gatos Photo &amp; Video</strong>. All Rights Reserved
    </div>
  </div>
</footer>
<!-- Footer -->
