<section id="about">
    <div class="container">
        <div class="section-header">
            <h3>QUI&Eacute;NES SOMOS</h3>
            <p><strong>4Gatos Photo&amp;Video</strong>  es una pequeña empresa que ofrece servicios de fotografía y vídeo con un toque fresco y moderno.</p>
        </div>
        
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
        <p>about works!</p>
    </div> 
    
</section>

