<section id="about">
  <div class="container">
    <div class="section-header">
      <h3>QUI&Eacute;NES SOMOS</h3>
      <p>
        <strong>Bienvenid@ a 4Gatos Photo&amp;Video</strong><br />
      </p>


      <p class="text-justify">
        Vamos a presentarnos para que nos conozcas un poco mejor; somos Mónica y José Luis, una
        pareja con un peque llamado Odín y 4 gatos en casa - <span class="font-italic">de ahí el nombre de nuestra marca
          <i class="far fa-laugh-beam fa-lg"></i></span>
      </p>
      <img src="assets/img/4gatos_about.jpg" class="img-fluid rounded float-left" alt="4Gatos">

      <p class="text-justify">Empezamos a indagar en la fotografía hace 4 años y poco a poco el proyecto fue creciendo
        cada vez más. Ahora tenemos nuestro estudio en Cornellà de Llobregat y realizamos tanto fotografía como vídeo.
      </p>
      <p class="text-justify">Como verás en nuestro portafolio, nos encanta trabajar con los más peques de la casa,
        inmortalizar sus sonrisas y los momentos más bonitos de la infancia. </p>
      <p class="text-justify">También tienen cabida en nuestras fotos los peluditos, pues sabemos que se les quiere
        tanto que forman parte de la familia. </p>
      <p class="text-justify">Nos gusta estar en continuo aprendijaze y siempre estamos dispuestos a fotografiar las
        estrellas, los atardeceres... Somos muy amantes de la naturaleza y antes de tener al peque hacíamos mucho
        senderismo, siempre con nuestra cámara a todas partes.</p>
      <p class="text-justify">Como ves 4Gatos es una marca pequeñita creada para guardar los mejores recuerdos de las
        familias, si te gustan nuestras fotos y nuestros vídeos no dudes en contactarnos y explicarnos tu idea! </p>
    </div>
  </div>
</section>