<!-- Modal -->
<div class="modal fade" id="modalCookiePolicy" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title">Política de Cookies</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2>¿Qué es una cookie?</h2>
                <p>Las cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por
                    cada usuario para que el servidor recuerde cierta información que posteriormente pueda utilizar.</p>

                <h2>Cookies que utilizamos</h2>

                <h5>Necesarias</h5>
                <p>Las cookies necesarias garantizan que nuestro sitio web funcione correctamente, ayudan con las
                    funciones básicas y no contienen datos personales.</p>

                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Proveedor</th>
                            <th scope="col">Propósito</th>
                            <th scope="col">Caducidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">cookieconsent_status</th>
                            <td><a href="https://www.osano.com/cookieconsent" target="_blank">Cookieconsent</a></td>
                            <td>1 año</td>
                            <td>Comprueba si el usuario ha aceptado la política de cookies con el propósito de que no
                                vuelva a aparecer el aviso</td>
                        </tr>
                    </tbody>
                </table>

                <h5>Estadística</h5>
                <p>Las cookies de estadística nos permiten obtener métricas tales como el número de visitas, duración de
                    las mismas y las fuentes de tráfico</p>

                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Proveedor</th>
                            <th scope="col">Propósito</th>
                            <th scope="col">Caducidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">_ga</th>
                            <td><a href="https://policies.google.com/privacy" target="_blank">Google</a></td>
                            <td>2 años</td>
                            <td>Se usa para distinguir a los usuarios</td>
                        </tr>
                        <tr>
                            <th scope="row">_gid</th>
                            <td><a href="https://policies.google.com/privacy" target="_blank">Google</a></td>
                            <td>24 horas</td>
                            <td>Se usa para distinguir a los usuarios</td>
                        </tr>
                        <tr>
                            <th scope="row">_gat</th>
                            <td><a href="https://policies.google.com/privacy" target="_blank">Google</a></td>
                            <td>1 minuto</td>
                            <td>Se usa para limitar el porcentaje de solicitudes. Si has implementado Google Analytics
                                mediante Google Tag Manager, esta cookie se llamará _dc_gtm_property-id</td>
                        </tr>
                        <tr>
                            <th scope="row">collect</th>
                            <td><a href="https://policies.google.com/privacy" target="_blank">Google</a></td>
                            <td>Session</td>
                            <td>Se utiliza para enviar datos a Google Analytics sobre el dispositivo del visitante y su
                                comportamiento. Rastrea al visitante a través de dispositivos y canales de marketing
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">VISITOR_INFO1_LIVE</th>
                            <td><a href="https://policies.google.com/privacy" target="_blank">Youtube</a></td>
                            <td>240 días</td>
                            <td>Realiza el seguimiento de los videos visitados que se encuentran incrustados en la web
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">YSC</th>
                            <td><a href="https://policies.google.com/privacy" target="_blank">Youtube</a></td>
                            <td>Session</td>
                            <td> Mide las reproducciones de videos realizadas por el usuario y registra los eventos de
                                “Me gusta” o “Compartir video”</td>
                        </tr>
                    </tbody>
                </table>

                <h2>Eliminar cookies de tu navegador</h2>

                <p>Para eliminar las cookies, puedes visitar las instrucciones de tu navegador web:</p>
                <ul>
                    <li>
                        <a
                            href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias">Firefox</a>
                    </li>
                    <li>
                        <a href="https://support.google.com/chrome/answer/95647?hl=es">Chrome</a>
                    </li>
                    <li>
                        <a
                            href="https://support.microsoft.com/es-es/help/278835/how-to-delete-cookie-files-in-internet-explorer">Internet
                            Explorer</a>
                    </li>
                    <li>
                        <a href="https://support.apple.com/kb/PH19214?viewlocale=es_ES&locale=es_ES">Safari</a>
                    </li>
                </ul>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>