<section id="gallery-video">
  <div class="container">
    <div class="section-header">
      <h3>Video</h3>
    </div>
    <div id="nanogallery-video"></div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="modalCookieVideo" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
          <div class="modal-body">
              <p>Para poder reproducir los vídeos es necesario aceptar el uso de Cookies</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-success mx-auto" data-dismiss="modal">Aceptar</button>
          </div>
      </div>
  </div>
</div>

</section>
