<section id="gallery-video">
    <div class="container">
      <div class="section-header">
        <h3>GALER&Iacute;A VIDEO</h3>
        <p>
          <strong>4Gatos video&amp;Video</strong> es una pequeña empresa que
          ofrece servicios de fotografía y vídeo con un toque fresco y moderno.
        </p>
      </div>
  
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
      <p>gallery-video works!</p>
    </div>
  </section>
  
