<section id="contact">
  <div class="container">
    <div class="section-header mb-5">
      <h3>CONTACTO</h3>
      <p>
        Si estás interesado en contratar nuestros servicios, no dudes en
        contactar con nosotros
      </p>
    </div>

    <div class="row contact-info">
      <div class="col-md-4 text-center mb-5">
        <a target="blank" href="https://goo.gl/maps/qCiMqB3evfDix6b49">
          <fa-icon [icon]="faLocation" size="2x" [styles]="{ color: 'green' }"></fa-icon>
          <h3>Dirección</h3>
          <address>08940, Cornellà de Llobregat</address>
        </a>
      </div>

      <div class="col-md-4 text-center mb-5">
        <a target="blank" href="tel:+34600688860" class="mr-2">
          <fa-icon [icon]="faPhone" size="2x" [styles]="{ color: 'green' }"></fa-icon>
        </a>
        <a target="blank" class="ml-2"
          href="https://api.whatsapp.com/send?phone=34600688860&amp;text=Hola!%20Quiero%20contratar%20un%20reportaje%20con%204Gatos%20photo%20video">
          <fa-icon [icon]="faWhatsapp" size="2x" [styles]="{ color: 'green' }"></fa-icon>
        </a>
        <h3>Teléfono</h3>
        <p>600 688 860</p>
      </div>

      <div class="col-md-4 text-center mb-5">
        <a target="blank" href="mailto:info@4gatosphotovideo.com">
          <fa-icon [icon]="faMail" size="2x" [styles]="{ color: 'green' }"></fa-icon>
          <h3>Email</h3>
          <p>info@4gatosphotovideo.com</p>
        </a>
      </div>
    </div>

    <div class="form">
      <form id="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

        <div class="form-row">

          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="name" placeholder="Tu nombre" formControlName="name" required
              [ngClass]="(contactForm.get('name').dirty || contactForm.get('name').touched)?(!contactForm.get('name').valid?'is-invalid':'is-valid'):''" />
          </div>

          <div class="form-group col-md-6">
            <input type="email" class="form-control" formControlName="email" required id="email" placeholder="Tu Email"
              [ngClass]="(contactForm.get('email').dirty || contactForm.get('email').touched)?(!contactForm.get('email').valid?'is-invalid':'is-valid'):''" />
          </div>

        </div>

        <div class="form-group">
          <textarea class="form-control" formControlName="message" required rows="5" placeholder="Mensaje"
            [ngClass]="(contactForm.get('message').dirty || contactForm.get('message').touched)?(!contactForm.get('message').valid?'is-invalid':'is-valid'):''"></textarea>
        </div>

        <input type="hidden" formControlName="_gotcha" />

        <div class="text-center">
          <div *ngIf="formSent" class="alert alert-light alert-dismissible fade show" role="alert">
            <strong>¡Gracias por contactar!</strong> <br />
            Nos pondremos en contacto contigo en la mayor brevedad posible
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div *ngIf="formError" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Se ha producido un error al enviar el formulario</strong> <br />
            Por favor, contacta con nosotros por correo electrónico, teléfono o a través de nuestras redes sociales
            <br />
            Disculpa las molestias
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!contactForm.valid || formSending">
            <div *ngIf="formSending" class="spinner-border spinner-border-sm" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            Enviar
          </button>
        </div>

      </form>
    </div>
  </div>
</section>