
#intro{
    background-color: var(--green);
    height: 100vh;
}
#intro img {
    max-height: 100%; 
    min-width: var(--min-width); 
    max-width: 100%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
  }

