#intro {
  background-color: var(--green);
  height: 100vh;
}
#intro img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.arrow {
  text-align: center;
  margin-top: -25px;
  padding: 0px;
  a {
    color: black;
    text-decoration: none;
  }
}
.arrow.scrolled {
  display: none;
}

.arrow-icon {
  padding: 2em;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}
