
  <div class="card service-card mx-auto">
    <a href="#" data-toggle="modal" [attr.data-target]="'#modal'+service.name">
      <img class="card-img-top img-fluid" src="assets/img/services/{{service.name|lowercase}}.jpg" alt="Card image cap">
    
    <div class="card-body">
      <h5 class="card-title text-center">{{(service.thumbnailName?service.thumbnailName:service.name)|uppercase}}</h5>
      <p *ngIf="service.tariffs" class="card-text">Desde <span class="price"
          [ngClass]="{'old-price':getMinPrice(service).offer}">{{getMinPrice(service).price}}€</span>
        <span class="price" *ngIf="getMinPrice(service).offer"> {{getMinPrice(service).offer.price}}€</span>
        <!-- <span class="offer-until" *ngIf="getMinPrice(service).offer">Promo hasta el
          {{getMinPrice(service).offer.until}}</span> -->
      </p>
      <p *ngIf="!service.tariffs" class="card-text price">&nbsp;</p>
    </div>
  </a>
  </div>



<!-- Modal -->
<div class="modal fade" id="modal{{service.name}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title">{{service.title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p *ngFor="let desc of service.description" [innerHTML]="desc"></p>
        <h1 *ngIf="service.tariffs" class="price-tariff-title mt-5"><span>Tarifas</span></h1>
        <div *ngIf="service.tariffs" class="row mt-5">
          <div [class]="'col-md-'+(12/service.tariffs.length)" *ngFor="let tariff of service.tariffs">
            <div class="card tariff-card">
              <span class="price-tariff" [ngClass]="{'with-offer':tariff.offer}">
                <span *ngIf="tariff.offer" class="old-price">{{tariff.price}}€<br /></span>
                {{tariff.offer?tariff.offer.price:tariff.price}}€
              </span>
              <div class="card-header price-tariff-header">
                {{tariff.name}}
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <ul class="price-tariff-details">
                    <li *ngFor="let feature of tariff.features">{{feature}}</li>
                  </ul>
                  <span *ngIf="tariff.offer" class="offer-until">Oferta hasta el {{tariff.offer.until}}</span>
                </li>
                <li class="list-group-item text-center">
                  <a class="btn btn-success" target="blank"
                    href="https://api.whatsapp.com/send?phone=34600688860&text={{whatsAppMessage + service.title + ' ' + tariff.name | replaceSpacesURL }}">
                    Lo quiero <fa-icon [icon]="faWhatsapp" class="ml-2"></fa-icon>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>