<section id="tariffs">
    <div class="container">
      <div class="section-header">
        <h3>TARIFAS</h3>
        <p>
          <strong>4Gatos video&amp;Video</strong> es una pequeña empresa que
          ofrece servicios de fotografía y vídeo con un toque fresco y moderno.
        </p>
      </div>
  
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
      <p>tariffs works!</p>
    </div>
  </section>
  
